.pink-button {
  margin: 20px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #eb1478;
  border: 2px solid #eb1478;
  padding: 0 18px;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  min-height: 40px;
  font-weight: 400;
  box-sizing: border-box;


}
