.campaign-overview {
  display: flex;
  margin-bottom: 30px;
}

.overview-img {
  height: 185px;
  width: auto;
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
}

.overview-text {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 20px;
}

.dynamic-header {
  text-transform: uppercase;
  cursor: pointer;
}

.dynamic-header text:hover {
  color: #eb1478;
}

.dynamic-header text:not(:first-child) {
  padding-left: 10px;
}

.dynamic-header .active {
  color: #eb1478;
  font-weight: 700;
}

.campaign-story {
  margin-top: 15px;
  margin-left: 37px;
  margin-right: 37px;
}
