
.campaign-show-page {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
}

.top-half-campaign-show-page {
  display: flex;
  flex-direction: row;
}

.top-half-campaign-show-page > div {
  margin: 20px;
  margin-bottom: 34px;
}

.bottom-half-campaign-show-page > div {
  margin: 0 20px;
}

.bottom-half-campaign-show-page {
  display: flex;
  flex-direction: row;
}

.campaign-show-left {
  width: 695px;
}

.campaign-show-right {
  width: 485px;
}

.campaign-details {
  height: 1000px;
}

.media-box {
  height: 460px;
}

.campaign-summary {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.campaign-summary-top {
  padding-bottom: 5px;
}

.campaign-title {
  font-size: 28px;
  line-height: 35px;
  font-weight: 600;
}

.campaign-tagline {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #6a6a6a;
  margin-top: 10px;
}

.campaign-show-headerTitle {
  margin: 20px 0px;
  padding: 5px 0px;
  border-bottom: 1px rgb(221, 221, 221) solid;
  color: rgb(168, 168, 168);
  display: block;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


// .campaign-show-page {
//   max-width: 1250;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//
//
// }
//
//
// .top-half-campaign-show-page {
//   max-width: 1250;
//   height: 460px;
//   border: solid 1px black;
//   justify-content: space-between;
//   flex-direction: column;
//
// }
//
// .bottom-half-campaign-show-page {
//   border: solid 1px black;
//   max-width: 1250;
//   justify-content: space-between;
// }
//
// .campaign-show-left {
//   border: solid 1px black;
//    width: 695px;
// }
//
// .campaign-show-right {
//   border: solid 1px black;
//   width: 485px;
// }
//
// .perks {
//   border: solid 1px black;
//   width: 327px;
//   flex-direction: column;
// }
