.campaign-overview {
  display: flex;
}

.overview-img {
  height: 185px;
  width: auto;
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
}

.overview-text {
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 20px;
}
