.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

input[class="other"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px; /* little bit of a magic number :( */
  overflow: visible;
}
