.footer-bar-container {
  background: black;
  color: white;
  margin-top: 50px;
  padding: 30px 10px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.footer-bar {
  margin: 0 auto;
  width: 1220px;
}


.footer-bar-left {
  display: flex;
  flex-direction: column;
}

.footer-bar-header {
  font-size: 16px;
  color: #a8a8a8;
  margin-bottom: 10px;
  line-height: 26px;
}

.footer-bar-links {
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  margin-top: 5px;
}
