.user-show-page {
  display: flex;
  flex-direction: column;
  font-family: 'Libre Franklin', sans-serif;
  color: #2a2a2a;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0px;
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.user-show-name {
  margin-top: 32px;
  margin-bottom: 46px;
  margin-left: -30px;
  margin-right: -20px;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 58px;
  color: rgb(42, 42, 42);
  padding-left: 30px;
  padding-right: 30px;
}

.user-show-page-header {
  display: flex;
  border-bottom: 1px solid #dddddd;
}

.usp-header-item {
  box-sizing: border-box;
  position: relative;
  margin-right: 20px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  padding: 3px 5px;
  display: block;
}

.usp-header-item-selected {
  color: #eb1478;
  border-bottom: 3px solid #eb1478;
}

.usp-header-item-selected:after {

}
