/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(221, 221, 221);
  padding: 0;
}
.slick-prev:after {
  color: grey !important;
  font-size: 80px !important;
  z-index: 50000 !important;
}

.slick-next:before {
  color: grey !important;
  font-size: 80px !important ;
  z-index: 50000 !important;
}

.slick-prev:before {
  color: grey !important;
  font-size: 80px !important;
  z-index: 50000 !important;
}

.slick-next:after {
  color: grey !important;
  font-size: 80px !important ;
  z-index: 50000 !important;
}

.slick-prev {
  left: -90px !important;
}

.slick-next {
  right: -11px !important;
}

.slick-prev, .slick-next {
  top: 44% !important;
}

.app-children {
  min-height: 70%;
  min-height: -webkit-calc(100vh - 398px);
  min-height: -moz-calc(100vh - 398px);
  min-height: calc(100vh - 398px);
}


// // Base
//  @import "base/button";
 //
 // // Components
 // @import "components/*";
